* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 2vh 5vw;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 80%;
}

button {
  margin-left: 20px;
  padding: 3px;
  background-color: rgb(44, 42, 42);
  color: white;
}

button:hover {
  cursor: pointer;
}
